{{!-- <a href="/chore/{{singleChore._id}}/edit">
    <button>
        Edit
    </button>
</a> --}}


<div class="chores-container">
<h1 class="sub-title">House Chore</h1>
<div class="chore-results"> Type Of chore: {{singleChore.type}}</div>

<div class="chore-results">Frequency: {{singleChore.howOften}}</div>

<div class="chore-results">Date: {{singleChore.when}}</div>



<div class="debtn">
    <a href="/chore/{{singleChore._id}}/edit">
        <button class="single-edit-btn">
            Edit
        </button>
    </a>

    {{!-- <form action="/chore/{{singleChore._id}}?_method=DELETE" method="POST">
        <input type="submit" class="delete-btn" value="Delete">
    </form> --}}
</div>



<form class="comment-container" action="/comment" method="POST">
<input type="hidden" value="{{singleChore._id}}" name="choreId" />
    <input class="comment-name" type="text" placeholder="Name"  name="name">

    <br>

    {{!-- <label>Comment:</label> --}}
    <textarea class="comment-textarea" name="comment" placeholder="Your comment..." cols="21" rows="6"></textarea>
    <br>
    <input type="submit" value="Create" >
</form>

</div>

{{#each comments}}
<div class="title"> {{name}}</div>
<div class="title">{{comment}}</div>
<form action="/comment/{{_id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
</form>

<hr>
{{/each}}