<a href="/user/{{singleUser._id}}/edit">
    <button>
        Edit
    </button>
</a>

<div class="title">Name</div>
{{singleUser.name}}


<div class="title"></div>
<img id="user-img" src="{{singleUser.image}}"/>

<form action="/user/{{singleUser._id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
</form>

<form action="/chore" method="POST">
  <input type="hidden" value="{{singleUser._id}}" name="userId" />
    <label>Type Of Chore</label>
    <input type="text" name="type"/>

    <label>Frequency</label>
    <input type="text" name="howOften"/>

    <label>Scheduled for:</label>
    <input type="date" name="when"/>

    <input type="submit" value="Add">
</form>



<h1>House Chores</h1>
{{#each chores}}

<div class="title">Chore Type: {{type}}</div>
<div class="title"> Frequency: {{howOften}}</div>
<div class="title">Scheduled For: {{when}}</div>

<form action="/chore/{{_id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
</form>

<a href="/chore/{{_id}}">
    <button>
        Edit
    </button>
</a>
<hr>
{{/each}}

